@model List<User>
@foreach (var user in Model)
{
    <p>@user.Name</p>
    <p>@user.Email</p>
    <p>@user.Info.Description</p>
}

<form method="post" asp-controller="Users" asp-action="Delete">
    <lable>Имя: </lable> <input type="text" name="userToDelete"/><br/>
    <button type="submit">JIJA</button>
</form>